body {
  padding-left: 0;
  background: #fff;
  font: 10pt helvetica;
  color: black;
  width: 700;
  margin-left: 50;
  margin-top: 50;
}

body h5 { color: black; margin-top: 2px}
body h3 { color: #114466; margin-top: 50px}
body img { border-color: #000000; border-width: 0px; border-style: solid; }

#header {
  height: 140;
  width: 700;
  background-image: url('banner.png');
  background-repeat: no-repeat;
}

body a { color: #114466; }

table {border-spacing: 5pt;}
td { vertical-align: top; font-size: 10pt; padding-top: 10pt;}

body img {
	-moz-box-shadow: 8px 8px 4px #999;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
