body {
  padding-left: 0; /* 150; */
  background: #fff /*#eeeeee*/; font: 9pt helvetica; color: black; width: 600;
  margin-left: 50;
  margin-top: 50;
}
body a { color: #114466; }
h3 { color: #114466; margin-top: 50px}
pre { font: 8pt monospace;}
img { border-color: #000000; border-width: 0px; border-style: solid };

table {
  background: #eeeeee; font: 9pt helvetica; color: black; width: 600;
  border-spacing: 3; border-style: solid; border-width: 1px;
}

#header {
  display: block;
  font: 20pt helvetica;
  height: 100;
  background-image: url('pegasus-banner.png');
  margin-left:-150;
}

#navigation { float:left; display: inline; width: 150; margin-left: -180; padding-top: 40;}

#navigation ul li { display: block; font: 9pt helvetica; padding-bottom: 5; }

#navigation a { color: #009300; text-decoration: none; font-weight: bold; }

#navigation a:hover { color: #000000; }

